# Copiază acest fișier în ".env" și completează cu valorile din Supabase
# (Project Settings -> API)
VITE_SUPABASE_URL=https://cfkyminejjnrwxrdlndt.supabase.co/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNma3ltaW5lampucnd4cmRsbmR0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUxODMyNDYsImV4cCI6MjEwMDc1OTI0Nn0.jaB-R3g_-3Py6Hi0YkKTp8mkar_Zt7P3xvKuQVUQDjM
